<h1>Question 1: What type of snacks do you prefer?</h1>

<fieldset class="choices">
  <a href="">A. Fruits / Vegetables</a> <br />
  <a href="">B. Salty snacks (chips, pretzels...)</a><br />
  <a href="">C. Sweet snacks (candy, ice cream...)</a>
</fieldset>
