<h1>Question 2: How bad is your eyesight?</h1>

<fieldset class="choices">
  <a href="" class="small_text">A. I can read this fine (take off your glasses cheater!)</a> <br />
  <a href="" class="medium_text">B. Ok, this is better (keep them off!)</a><br />
  <a href="" class="large_text">C. I like it jumbo (I'm calling your doctor!)</a>
</fieldset>
