<h1>Question 4: Who is your favorite Starter School Classmate?</h1>

<fieldset class="choices">
  <a href="">A. Moo!</a> <br />
  <a href="">B. Joe :(</a><br />
  <a href="">C. What is Starter School?</a><br />
  <a href="">D. Who's Joe?</a>
</fieldset>
