<h1>Question 6: Select a location</h1>

<fieldset class="choices">
  <a href="">A. China</a> <br />
  <a href="">B. Portugal</a><br />
  <a href="">C. Chicago</a><br />
  <a href="">D. Brazil</a><br />
  <a href="">E. Other</a>
</fieldset>
