<h1>Question 7: What's your favorite weekday?</h1>

<fieldset class="choices">
  <a href="">A. Monday</a> <br />
  <a href="">B. Tuesday</a><br />
  <a href="">C. Wednesday</a><br />
  <a href="">D. Thursday</a><br />
  <a href="">E. Friday</a>
</fieldset>
