<div class="container">
  <h1>Team Apple or Team Android, which one suits you?</h1>

  <h3>Nowadays, with so many operating systems out there, it can be difficult to decide which one best suits you. The following quiz can help make that decision a lot simpler </h3>

  <p class="begin"><%= link_to "Begin Quiz", "/questions/Q1", class: "start_button" %></sp>
</div>
